<template>
  <q-page class="flex flex-center">
    <q-card class="my-card" style="width: 600px">
      <q-card-section>
        <div class="text-h4">To-do list</div>
      </q-card-section>

      <q-card-section>
        <div class="row justify-center">
          <div class="col-12 q-pb-md">
            <q-input v-model="todoTask" label="Input Task">
              <template v-slot:after>
                <q-btn round dense flat icon="send" @click="addTodoList(todoTask)" />
              </template>
            </q-input>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section v-if="todoList.length > 0">
        <div
          class="row justify-center"
          v-for="(item, index) in todoList"
          :key="index"
        >
          <div class="col-8 q-py-md">
            {{ item }}
          </div>
          <div class="col-auto q-py-md">
            <q-btn round dense flat icon="done" @click="removeTodoList(index)" />
          </div>

          <div class="col-auto q-py-md">
            <q-btn round dense flat icon="edit" @click="editTodoList(index)" />
          </div>
        </div>
      </q-card-section>

      <q-card-secttion v-else>
        <div class="row justify-center">
          <div class="col-12">
            <div class="text-h6">
              No items on the list
            </div>
          </div>
        </div>
      </q-card-secttion>

    </q-card>
  </q-page>
</template>

<script>

import { ref } from "vue";

export default {
  name: "IndexPage",
  setup() {
    let todoList = ref([]);
    let todoTask = ref(null);
    let editedTask = ref(null)

    let addTodoList = (input) => {

      if(editedTask.value === null){
        todoList.value.push(input);
      }

      else{
        todoList.value[editedTask.value] = todoTask.value
        editedTask.value = null;
      }

      todoTask.value = '';
    }

    let removeTodoList = (index) => {
      todoList.value.splice(index,1);
    }

    let editTodoList = (index) => {
      todoTask.value = todoList.value[index];
      editedTask.value = index;
    }

    return {
      todoTask,
      todoList,
      addTodoList,
      removeTodoList,
      editTodoList,
      editedTask,
    };
  },

};
</script>
