<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essential Links
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <div class="q-pa-md">
        <div class="bg-cyan text-white">
          <q-toolbar>
            <q-btn flat round dense icon="assignment_ind" />

            <q-toolbar-title>Quasar</q-toolbar-title>
          </q-toolbar>
          <q-toolbar inset>
            <q-breadcrumbs active-color="white" style="font-size: 16px">
              <q-item to="/" clickable>
                <q-item-section avatar>
                  <q-breadcrumbs-el label="Home" icon="home" />
                </q-item-section>
              </q-item>

              <q-item to="/about" clickable>
                <q-item-section avatar>
                  <q-breadcrumbs-el label="about" icon="info" />
                </q-item-section>
              </q-item>

              <q-item to="/contact" clickable>
                <q-item-section avatar>
                  <q-breadcrumbs-el label="contact" icon="phone" />
                </q-item-section>
              </q-item>

              <q-item to="/gallery" clickable>
                <q-item-section avatar>
                  <q-breadcrumbs-el label="gallery" icon="photo" />
                </q-item-section>
              </q-item>

            </q-breadcrumbs>
          </q-toolbar>
        </div>
      </div>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
